.all-products-container {
  margin-top: 92px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .all-products-container {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .all-products-container {
    margin-top: 50px;
  }
}