.parent-container {
  position: relative;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; 
}

.width-left-col {
  width: 30%;
}

.width-right-col {
  width: 60%;
}

.align-text {
  text-align: left !important;
}

.flex {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.btn {
  height: 48px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--color-black) ;
  font-weight: 700;
  font-family: var(--font-red-hat-display);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-primary);
  cursor: pointer;
  color: var(--color-white) ;
  border: 1px solid var(--color-primary) ;
}

.btn.active {
  background-color: var(--color-primary) ;
  color: var(--color-white) ;
  border-color: var(--color-primary) ;
}

.box-container {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
}
.swiper-slide {
  /* margin-right: 30px !important; */
}

.product-container-box {
  border: 1px solid #D5D5D5;
  background: #f3fdff;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.product-container-box img {
  height: 230px;
  width: 290px;
  padding: 10px;
  object-fit: contain;
  margin-top: 5px;
}

.title-text {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--font-red-hat-display);
  font-weight: 700;
  line-height: 23px;
}


@media (max-width: 1024px) {
  .width-left-col,
  .width-right-col {
    width: 100%;
    text-align: center;
    gap: 20px 10px;
  }
  .product-container {
    gap: 20px 35px;
  }
  .product-container-box {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .product-container-box img {
    height: 200px;
    width: 240px;
  }
  .align-text {
  text-align: center;
}
}


@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
    gap: 10px 35px;
  }
  .product-container-box {
    width: 100%;
  }
  .product-container-box img {
    height: auto;
    width: 100%;
  }
  .title-text {
    font-size: 14px;
    text-align: center;
  }
  .btn {
    width: 100%;
    max-width: 130px;
  }
  .align-text {
    text-align: center;
  }
}
