.parent-container {
  height: 750px;
  background-image: url('/images/bannerNob.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 50px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
}

.parent-container {
  position: relative;
}

.header-container {
  /* padding-top: 50px; */
}

.bg {
  background: var(--color-primary);
  padding: 0 15px;
  height: 650px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .parent-container {
    top: 0%;
    height: 500px;
    border-radius: 25px;
    background: url('/images/Banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .bg {
    max-height: 320px;
    padding: 0;
  }

}



@media (max-width: 768px) {
  .header-container {
    height: auto;
    min-height: 100vh;
  }

  .parent-container {
    border-radius: 0px;
    background: url('/images/Banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 25px;
    top: 0%;
  }

  .bg {
    max-height: 150px;
    padding: 0;
  }
}