.bg {
  position: relative;
  background: var(--color-primary);
  padding: 0 12px;
  height: 650px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 750px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  top: 3%;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.overlay-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 750px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.overlay-content .header-container {
  width: 100%;
  pointer-events: auto;
}

.banner-title {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.banner-title h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-red-hat-display);
  text-transform: capitalize;
}

.banner-title p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin: 15px 0;
  font-family: var(--font-sanchez);
}

.breadcrumbs-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .slider-wrapper {
    height: 650px;
    border-radius: 40px;
  }

  .overlay-content {
    height: 650px;
  }

  .banner-title {
    font-size: 36px;
    top: 35%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    height: 550px;
    border-radius: 30px;
    top: 3%;
  }

  .overlay-content {
    height: 550px;
  }

  .banner-title {
    width: 100%;
    top: 35%;
  }

  .banner-title h1 {
    font-size: 28px;
    top: 35%;
  }
}

@media (max-width: 600px) {
  .slider-wrapper {
    height: 450px;
    border-radius: 25px;
  }

  .overlay-content {
    height: 450px;
  }

  .banner-title {
    width: 100%;
    font-size: 26px;
    top: 25%;
  }
}


@media (max-width: 480px) {
  .slider-wrapper {
    height: 400px;
    border-radius: 20px;
    top: 3%;
  }

  .overlay-content {
    height: 400px;
  }

  .banner-title {
    width: 100%;
    font-size: 22px;
    top: 60%;
    padding: 0 10px;
  }

  .bg {
    padding: 0 10px;
    height: 350px;
  }
}


@media (max-width: 360px) {
  .slider-wrapper {
    height: 320px;
    border-radius: 15px;
  }

  .banner-title {
    font-size: 18px;
    top: 50%;
    line-height: 24px;
  }
}