.about-container {
  display: flex;
  gap: 30px;
}

.about-left {
  width: 50%;
  display: flex;
  justify-content: right;
}

.container-image-sec {
  position: relative;
}

.about-image-bg {
  position: relative;
  display: block;
  max-width: 550px;
  object-fit: cover;
}

.about-image-quality {
  position: absolute;
  top: 15%;
  left: -10%;
  max-width: 220px;
  height: auto;
  z-index: 1;
  object-fit: contain;
}

/* RIGHT CONTENT */
.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.about-title {
  font-family: var(--font-red-hat-display);
  font-weight: 700;
  font-size: 40px;
  color: var(--color-primary);
  width: 561px;
}

.about-desc {
  /* color: var(--color-gray); */
  font-weight: 400;
  font-family: var(--font-sanchez);
  color: #828599;
  font-size: 16px;
  line-height: 28px;
  margin: 20px 0;
  /* color: var(--text-color-text); */
}

.bullet-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  margin-bottom: 30px;
}

.bullet-item {
  display: flex;
  align-items: center;
  font-weight: 600;
  /* color: var(--color-background-secondary); */
  width: calc(50% - 20px);
}

.bullet-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-family: var(--font-roboto);
  color: #002678;
}

.check-icon {
  background: var(--color-background-secondary);
  color: var(--color-white);
  border-radius: 50%;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.about-note {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border-top: 1px solid var(--color-gray);
  padding-top: 20px;
  color: var(--color-gray);
  font-size: 0.95rem;
}

.about-note p {
  font-family: var(--font-sanchez);
  font-weight: 400;
  font-size: 15px;
  line-height: 26.25px;
}

.info-icon {
  font-size: 20px;
  color: var(--color-primary);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-left,
  .about-right {
    width: 100%;
    max-width: 90%;
    justify-content: center;
    text-align: center;
  }

  .about-image-bg {
    width: 400px;
    height: auto;
  }

  .about-image-quality {
    top: 15%;
    left: -15%;
    width: 150px;
  }

  .about-title {
    font-size: 32px;
    text-align: center;
  }

  .about-desc {
    font-size: 15px;
  }

  .about-note {
    align-items: center;
    text-align: left;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .padding-y-axis {
    padding: 0;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-left {
    justify-content: center;
    width: 100%;
  }

  .about-right {
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .about-image-bg {
    width: 300px;
    height: auto;
  }

  .about-image-quality {
    width: 120px;
    top: 15%;
    left: -10%;
  }

  .about-title {
    font-size: 26px;
    text-align: center;
  }

  .about-desc {
    text-align: center;
    font-size: 14px;
  }

  .bullet-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .bullet-item {
    width: 100%;
    justify-content: flex-start;
  }

  .bullet-text {
    font-size: 14px;
  }

  .about-note p {
    font-size: 14px;
  }

  .about-note {
    align-items: center;
    text-align: left;
  }
}