.pcd-section {
  background-color: var(--color-background-secondary);
  color: var(--color-white);
  position: relative;
  min-height: 100vh;
  padding: 60px 20px;
  height: 880px;
}

.pcd-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/pcdbg.png') center/cover no-repeat;
  opacity: 0.1;
  z-index: 0;
}

.pcd-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.pcd-image-wrapper {
  width: 45%;
  max-width: 628px;
  position: relative;
}

.pcd-image {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.tag-container {
  position: absolute;
  bottom: -2%;
  left: 8%;
  display: flex;
}

.tag-container img {
  width: 78px;
}

.pentogone {
  width: 30px;
  height: 26px;
  background-color: var(--color-primary);
  clip-path: polygon(24% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.pcd-experience-tag-bg {
  writing-mode: sideways-lr;
  background-color: var(--color-background-secondary);
  height: 280px;
  width: 60px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 25px;
  transform: translateX(50%);
  border-bottom-left-radius: 15px;
}

.pcd-experience-tag {
  height: 280px;
  position: absolute;
  top: 25%;
  right: -25px;
  background-color: var(--color-primary);
  padding: 12px 16px;
  text-align: center;
  writing-mode: sideways-lr;
  transform: translateY(-50%);
  font-size: 18px;
  font-family: var(--font-red-hat-display);
  line-height: 23px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pcd-content {
  width: 47%;
  /* flex: 1 1 300px; */
  min-width: 280px;
}

.pcd-title {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: var(--font-red-hat-display);
}

.pcd-description {
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
  font-family: var(--font-sanchez);
  font-size: 16px;
  /* max-width: 105px; */
}

.pcd-experience-tag span {
  font-family: var(--font-red-hat-display);
  font-size: 18px;
  color: var(--color-white);
  font-weight: 600;
}

.pcd-info-block {
  display: flex;
  /* align-items: flex-start; */
  gap: 15px;
  margin-bottom: 20px;
  text-align: left;
  margin-bottom: 60px;
  align-items: center;
}

.pcd-info-block h2 {
  font-family: var(--font-lexend);
  font-size: 19px;
}

.patient-title {
  font-family: var(--font-lexend);
  font-size: 19px;
}

.pcd-info-block p {
  font-family: var(--font-sanchez);
  font-size: 15px;
  /* margin-top: 20px; */
  line-height: 26px;
}

.pcd-icon img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.footer-parent-container {
  margin-top: 30px;
}

.bg-white {
  height: 200px;
}


/* ===== Tablet View ===== */
@media (min-width: 768px) and (max-width: 1024px) {
  .pcd-section {
    height: auto;
  }

  .pcd-container {
    flex-direction: column;
    gap: 40px;
  }

  .pcd-section {
    height: auto;
  }

  .pcd-content {
    text-align: center;
  }

  .pcd-description {
    max-width: 100%;
    text-align: left;
  }

  .pcd-title {
    text-align: left;
  }

  .pcd-info-block {
    text-align: left;
  }

  .pcd-image-wrapper {
    width: 100%;
  }

  .pcd-content {
    width: 100%;
  }

  .footer-parent-container {
    position: absolute;
    z-index: 1;
    left: 0;
    margin-top: 25px;
  }

  .pcd-info-block {
    align-items: center;
    margin-bottom: 0px;
  }
}

/* ===== Mobile View ===== */
@media (max-width: 768px) {
  .pcd-image-wrapper {
    width: 100%;
  }

  .pcd-content {
    width: 100%;
  }


  .pcd-section {
    height: auto;
  }

  .pcd-title {
    font-size: 22px;
  }

  .pcd-description {
    font-size: 14px;
  }

  .pcd-info-block {
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 10px;
  }

  .pcd-image-wrapper {
    width: 100%;
  }

  .pcd-experience-tag {
    writing-mode: rl-tb;
    -webkit-writing-mode: vertical-rl;
    height: 50px;
    top: 2%;
    width: 260px;
    right: 0%;
  }

  .pcd-experience-tag-bg {
    writing-mode: rl-tb;
    -webkit-writing-mode: vertical-rl;
    height: 50px;
    top: 0%;
    /* left: 38%; */
    width: auto;
    /* width: 259px; */
    /* right: 47%; */
  }

  .tag-container img {
    width: 60px;
    height: 20px;
    object-fit: contain;
  }

  .footer-parent-container {
    margin-top: 25px;
    position: absolute;
    z-index: 1;
    left: 0;
  }

  .pentogone {
    height: auto;
  }

  .pcd-info-block {
    margin-bottom: 30px;
  }
}