
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #05A0E2;  
  --color-background-secondary :#0d3b82;
  --color-text: #111827;   
  --color-white: #ffffff;
  --color-gray:#828599;
  --color-gray-light:#E9E9F0;
  --color-light-white:#ccefff;
  --color-black:#000000;
 --color-category :#fcf9f9;
 --text-color-text : #494949;
 --text-color-category :#232323;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.hero-sub-container {
  max-width: 1800px;
  margin: 0 auto;
}

.sub-container {
  max-width: 1400px;
  margin: 0 auto;
}

.margin {
  margin: 60px 0;
}

.padding {
  padding: 30px;
}

.padding-y-axis {
  padding: 60px 0;
}

.margin-top-none {
  margin-top: 0px;
}


@media (max-width: 768px) {
  .padding-y-axis {
  padding: 30px 0;
}

}
@media (max-width: 1024px) {}