* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #05A0E2;
  --color-background-secondary: #0d3b82;
  --color-text: #111827;
  --color-white: #ffffff;
  --color-gray: #828599;
  --color-gray-light: #E9E9F0;
  --color-light-white: #ccefff;
  --color-black: #000000;
  --color-category: #fcf9f9;
  --text-color-text: #494949;
  --text-color-category: #232323;
  --color-primary-alpha: rgba(11, 173, 246, 0.45);
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.hero-sub-container {
  max-width: 1800px;
  margin: 0 auto;
}

.sub-container {
  max-width: 1400px;
  margin: 0 auto;
}

.margin {
  margin: 60px auto;
}

.padding {
  padding: 30px;
}

.padding-y-axis {
  padding: 40px 0;
}

.margin-top-none {
  margin-top: 0px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.bg.banner-dimesions {
  height: 350px !important;
}

.bg .banner-dimesions,
.parent-container .hero-sub-container,
.hero-sub-container .banner-c-wrapper-container {
  height: 400px !important;
}