/* .swiper-slide {
  margin-right: 20px !important;
} */

.our-product-box-container {
  /* max-width: 1290px; */
  /* margin: 0 auto; */
}

.swiper-sub-container {
  max-width: 1300px;
  margin: 0 auto;
}

.product-container-box {
  border: 1px solid #D5D5D5;
  background: #EEFBFF;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.product-container-box img {
  height: 230px;
  width: 290px;
  padding: 10px;
  object-fit: contain;
  margin-top: 5px;
}

.title-text {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--font-red-hat-display);
  font-weight: 600;
  line-height: 23px;
}

.product-grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px 10px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  border: 0;
  background: var(--color-white);
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background: var(--color-primary);
  color: var(--color-white);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ////// */
.custom-card {
  background: var(--color-white);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.custom-card:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.custom-card-image img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 16px;
}

.custom-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-card-tag {
  max-width: 102px;

  background: var(--color-primary);
  color: var(--color-white);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  font-family: var(--font-red-hat-display);
  text-align: center;
}

.custom-card-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text);
  text-transform: capitalize;
  margin: 0;
  font-family: var(--font-sanchez);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-card-description {
  font-size: 14px;
  color: var(--color-text);
  text-transform: capitalize;
  line-height: 1.4;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-sanchez);
}

.custom-card-pack {
  font-size: 14px;
  color: var(--color-text);
  text-transform: capitalize;
  margin: 0;
}

.custom-card-price {
  font-size: 18px;
  font-weight: bold;
  color: #f65a38;
  margin: 0;
  font-family: var(--font-sanchez);
}

.custom-card-btn {
  margin-top: 12px;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--font-sanchez);
}

.about-us-product-card {
  padding: 60px 0;
}

.our-product-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-red-hat-display);
  color: var(--color-text);
  text-transform: capitalize;
  font-size: 16px;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .product-container-box {
    height: auto;
    padding-bottom: 20px;
  }

  .product-container-box img {
    height: 200px;
    width: 240px;
  }

  .align-text {
    text-align: center;
  }

  .col-2 .custom-card-content {
    width: 60%;
  }

  .col-2 .custom-card {
    flex-direction: row;
    width: 100%;
  }

  .col-2 .product-list {
    margin-right: 0;
  }

  .category-item {
    font-size: 12px;
  }

  .btn-product-list {
    font-size: 12px;
  }

  .swiper-slide {
    margin-left: 10px !important;
  }
}


@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
    gap: 10px 35px;
  }

  .custom-card-content {
    width: 100%;
  }

  .product-container-box img {
    height: auto;
    width: 100%;
  }

  .title-text {
    font-size: 14px;
    text-align: center;
  }

  .align-text {
    text-align: center;
  }

  .swiper-slide {
    margin-left: 14px !important;
  }
}