.navbar {
  background-color: var(--color-white);
  border-radius: 50px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 104px;
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.nav-bar-col-2 {
  display: flex;
  align-items: center;
  gap: 60px;

}

.logoImg {
  height: 59px;
}

.navLinks ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLinks ul a {
  text-decoration: none;
  font-size: 15px;
  color: var(--color-text);
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-family: var(--font-sanchez);
  line-height: 32px;
}

.link {
  /* font-size: 15px;
  color: var(--color-text);
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-family: var(--font-sanchez);
  line-height: 32px; */
}

.link:hover {
  color: var(--color-primary);
}


.link.active {
  color: var(--color-primary);
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--color-primary);
  border-radius: 2px;
}

.dropdownArrow {
  font-size: 10px;
  margin-left: 5px;
}

.callButton {
  background: var(--color-primary);
  color: var(--color-white);
  height: 50px;
  width: 173px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  font-family: var(--font-sanchez);
}

.mobileCallButton {
  display: none;
}

.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navLinks {
    gap: 15px;
  }

  .navbar {
    max-width: 1100px;
    width: auto;
    height: auto;
    margin-top: 0;
  }

  .navLinks ul {
    gap: 15px;
  }

  .link {
    font-size: 12px;
  }

  .callButton {
    width: 140px;
    font-size: 14px;
  }

  .mobileCallButton {
    display: none;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    height: auto;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-white);
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
    /* z-index: 1000; */
  }

  .navLinks ul {
    flex-direction: column;
    padding: 30px 0;
    align-items: flex-start;
    width: 100%;
  }

  .navLinks.open {
    max-height: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .callButton {
    display: none;
  }

  .mobileCallButton {
    display: flex;
  }

  .navLinks {
    z-index: 1;
  }
}