.mvv-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mvv-card-container {
  display: flex;
  gap: 10rem 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.mvv-card-box {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.19));
  position: relative;
}

.mvv-card-box-space {
  bottom: 10%;
  z-index: 1;
}

.card-bottom-space {
  margin-bottom: 15px;
}


.mvv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 325px;
  height: 369px;
  border-radius: 25px;
  -webkit-clip-path: path("M54.32 9.14 Q21.67 27.49 21.67 58.98 L21.67 314.01 Q21.67 335.28 64.98 348.29 L203.64 378.11 Q210.08 426.18 87.74 386.26 L265.41 348.29 Q303.33 336.73 304.33 307.94 L303.33 120 Q303.33 88.89 255.33 70.14 L111.99 22.07 Q64.98 4.55 45.49 15.21 Z");
  clip-path: path("M54.32 9.14 Q21.67 27.49 21.67 58.98 L21.67 314.01 Q21.67 335.28 64.98 348.29 L203.64 378.11 Q210.08 426.18 87.74 386.26 L265.41 348.29 Q303.33 336.73 304.33 307.94 L303.33 120 Q303.33 88.89 255.33 70.14 L111.99 22.07 Q64.98 4.55 45.49 15.21 Z");
}

.mvv-icon-wrapper {
  z-index: 1;
  width: 285px;
  height: 200px;
  position: absolute;
  top: -19%;
  left: 16%;
}

.mvv-icon-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mvv-image-bg {
  position: absolute;
  bottom: -17%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.mvv-image-bg img {
  width: 250px;
  object-fit: contain;
}

.mvv-card-content {
  text-align: center;
  margin-top: 60px;
}

.mvv-title {
  font-family: var(--font-red-hat-display);
  font-weight: 600;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 25px;
  padding: 0 20px;
}

.mvv-subtitle {
  font-family: var(--font-sanchez);
  color: var(--text-color-text);
  padding: 1px 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.chose-us-width {
  max-width: 1017px;
  margin: 0 auto;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .mvv-title {
    font-size: 42px;
  }

  .mvv-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .mvv-title {
    font-size: 42px;
  }

  .mvv-subtitle {
    font-size: 14px;
  }
}