.footer {
  background: var(--color-primary);
  padding: 40px 30px 10px;
  border-radius: 50px;
  position: relative;
  color: var(--color-white);
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/group.png') center/cover no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.section-container {
  display: flex;
  justify-content: space-between;
}
.col-left {
  display: flex;
  justify-content: space-between;
}

.footer-col-bx {
  width: 27%;
}

.footer-logo .logo-box {
  margin-bottom: 10px;
  background-color:  var(--color-white);
  height: 99px;
  width: 216px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-desc {
  font-family: var(--font-sanchez);
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin: 20px 0;
}

.footer-socials a {
  color:  var(--color-white);
  margin-right: 16px;
  font-size: 23px;
  text-decoration: none;
}


.footer-socials a:hover {
  cursor: pointer;
}

.footer-links {
  display: flex;
  flex-direction: column;
 align-items: center;
}

.footer-links h4,
.footer-categories h4 {
  font-family: var(--font-red-hat-display);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.gm-style .place-card-medium {
  display: none !important;
} 

.footer-links ul,
.footer-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li,
.footer-categories li {
  margin-bottom: 6px;
  font-family: var(--font-sanchez);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer-links a,
.footer-categories a {
  color:  var(--color-white);
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font-sanchez);
  font-weight: 400;
  line-height: 24px;
}

.footer-links a:hover,
.footer-categories a:hover {
  color: var(--color-light-white);
}

.footer-categories-box {
  display: flex;
  gap: 50px;
}

.footer-map {
  display: flex;
  align-items: flex-start;
  height: 320px;
  width: 320px;
}

.footer-bottom {
  font-family: var(--font-sanchez);
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .section-container{
    flex-direction: column;
     gap: 40px;
  }
  .footer-col-bx {
  width: auto;
}
.col-left {
    flex-direction: column;
    gap: 40px;
}
.footer-links {
  align-items: flex-start;
} 
.footer-map {
  width: 100%;
}
}
@media (max-width: 768px) {

    .section-container{
    flex-direction: column;
    grid-area: 50px;
  }
  .footer-col-bx {
    width: auto;
}
.col-left {
gap: 40px;
    flex-direction: column;
}
.footer-links {
  align-items: flex-start;
} 
.footer-map {
  width: 100%;
}
.footer-bottom{
  padding: 30px 0;
}
}