.heading {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary);
  line-height: 45PX;
  margin-bottom: 16px;
  font-family: var(--font-red-hat-display);
  text-align: center;
}

.subtext {
  max-width: 1000px;
  margin: 0 auto 0px;
  font-family: var(--font-sanchez);
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color-text);
}