.tag-line {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #cc9955;
  text-transform: uppercase;
  font-family: var(--font-sanchez);
}

.col-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.title-connect {
  padding: 0;
}

.reach-us-map{
  display: flex;
  align-items: flex-start;
  height: 320px;
  /* width: 420px; */
}

.reach-us-parent-content{
  display: flex;
  gap: 30px;
  padding: 20px 0;
}

.reachus-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #cc9955;
  font-family: var(--font-red-hat-display);
}
.loc-icon{
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #cc9955;
  padding: 8px 0;
}
.loc-icon a {
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #cc9955;
}
.location-des{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text);
  font-family: var(--font-sanchez);
}

.form-wrapper {
  border-radius: 20px;
  background: #fff;
  text-align: left;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-red-hat-display);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
  color: var(--color-text);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--font-sanchez);
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #f5f5f5;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  
}

textarea {
  min-height: 110px;
  resize: none;
  border-radius: 20px;
    color: var(--color-text);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--font-sanchez);
}

.submit-btn {
  width: 100%;
  background-color: var(--color-primary);
  padding: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--font-sanchez);
}

.submit-btn:hover {
  background-color: var(--color-primary);
  font-weight: 500;
}

.error {
  font-size: 13px;
  color: red;
  margin-top: 4px;
}

.success {
  margin-top: 12px;
  color: green;
  font-weight: 500;
  text-align: center;
}

/* ====== Tablet (≤1024px) ====== */
@media (max-width: 1024px) {
  .reach-us-parent-content {
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
  }

  .reach-us-map {
    width: 100%;
    height: 280px;
  }

  .contact-form {
    width: 100%;
    max-width: 500px;
  }

  .title {
    font-size: 22px;
  }

  .tag-line {
    font-size: 18px;
    line-height: 22px;
  }
}

/* ====== Mobile (≤768px) ====== */
@media (max-width: 768px) {
   .contact-us {
    /* padding-top: 60px; */
  }
  .col-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .reach-us-parent-content {
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    /* margin-top: 30px; */
  }

  .reach-us-map {
    width: 100%;
    height: 220px;
  }

  .reachUs-container {
    width: 100%;
  }

  .social-network{
    width: 100%;
  }

  .contact-form {
    width: 100%;
    padding: 0 15px; 
  }

  .title {
    font-size: 20px;
  }

  .tag-line {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  input,
  textarea {
    font-size: 14px;
    padding: 12px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 14px;
  }
}

/* ====== Small Mobile (≤480px) ====== */
@media (max-width: 480px) {
  .contact-us {
    padding-top: 60px;
  }
  .title {
    font-size: 18px;
  }

  .tag-line {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .reach-us-map {
    height: 180px;
  }
  .reachUs-container {
    width: 100%;
  }
  .social-network{
    width: 100%;
  }

  .contact-form {
    gap: 14px;
  }

  input,
  textarea {
    font-size: 13px;
    padding: 10px;
  }

  .submit-btn {
    font-size: 13px;
    padding: 12px;
  }
}